:root {
    --primary: rgb(35, 35, 35);
    --secondary: rgb(25, 25, 25);
    --primary-accent: rgb(250, 250, 250);
    --secondary-accent: rgb(150, 150, 150)
}

* {
    margin-top: 0;
    margin-bottom: 0;
    font-style: normal;
    font-family: "Robot Mono",monospace
}

::-webkit-scrollbar {
    display: none
}

a {
    text-decoration: none;
    color: var(--primary-accent)
}

body,html {
    width: 100%;
    height: 100%
}

body {
    margin: 0;
    overflow: hidden;
    position: relative;
    color: var(--primary-accent);
    background-color: var(--primary)
}

.emoji {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    object-fit: contain;
    vertical-align: middle
}

.badge {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    object-fit: contain;
    vertical-align: middle
}

@media screen and (max-width: 600px) {
    .badge {
        display:none
    }
}

.circle {
    border-radius: 50%
}

.hover {
    transition: transform .5s ease,box-shadow .5s ease
}

.hover:hover {
    transform: scale(1.05);
    box-shadow: 2px 1px 8px 1px rgba(0,0,0,.5)
}

.section {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: top .5s ease-in-out,left .5s ease-in-out
}

.container {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    gap: 25px;
    max-width: 800px;
    max-height: 80vh;
    margin: 5vmin;
    padding: 5vmin;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,.25);
    border-radius: 25px
}

#profile {
    display: flex;
    align-items: center;
    gap: 85px;
    height: 128px;
    
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px;
    align-items: center;
    justify-items: center;
}

.single-column {
    grid-template-columns: 1fr !important;
}


#profile-avatar-container {
    position: relative;
}

#profile-avatar {
    border-radius: 15px;
}

#profile-avatar-status-container {
    position: absolute;
    width: 35px;
    height: 35px;
    right: -5px;
    bottom: -5px;
    padding: 5px;
    background-color: var(--primary);
    border-radius: 50%;
    border: 2px solid var(--secondary);
    display: none;
}

#profile-avatar-status {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
#profile-activity-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    max-width: 300px;
    max-height: 140px;
    width: 100%;
    background-color: var(--secondary);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
}

#profile-activity {
    display: flex;
    gap: 15px;
    align-items: center;
    display: none;
}

#profile-activity-image-container {
    width: 100%;
    height: 100%;
    max-height: 140px;
    max-width: 140px;
    border-radius: 10px;
    overflow: auto;
}

#profile-activity-large-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#profile-activity-details-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 300px;
    max-height: 140px;
    overflow: auto;

}

#profile-activity-name {
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-accent);
}

#profile-activity-details {
    font-size: 14px;
    color: var(--secondary-accent);
}
#profile-activity-state {
    font-size: 14px;
    color: var(--primary-accent);
}





@media screen and (max-width: 600px) {
    #profile-activity {
        display: flex;
    }
}

#social-mobile {
    display: none
}

@media screen and (max-width: 600px) {
    #social-desktop {
        display:none!important
    }

    #social-mobile {
        display: grid
    }
}

#social-desktop {
    gap: 25px;
    display: flex;
    justify-content: center
}

.social-desktop-container {
    width: 20%;
    padding: 20px;
    border-radius: 10px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center
}

.social-desktop-icon {
    max-width: 100%;
    max-height: 100%;
    pointer-events: none
}

#social-mobile-container {
    gap: 5px;
    display: flex
}

#guide {
    text-align: center;
    margin-left: 5vmin;
    margin-right: 5vmin
}

.card {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border-radius: 15px
}

.card-icon {
    width: 75px;
    height: 75px;
    object-fit: contain
}

.card-content {
    display: flex;
    flex-direction: column
}

.form-input {
    border: none;
  
    padding: 10px;
    border-radius: 10px;
  
    color: var(--primary-accent);
    background-color: var(--secondary);
  }
  
  .form-input::placeholder {
    color: var(--secondary-accent);
  }
  
  #form-content {
    resize: none;
    height: 100%;
  }
  
  #form-error {
    align-self: flex-end;
  }
  
  #form-submit {
    border: none;
    cursor: pointer;
    align-self: flex-end;
  
    width: 300px;
    padding: 10px;
    border-radius: 10px;
  
    color: var(--primary-accent);
    background-color: var(--secondary);
  }
  
  #form-submit:disabled {
    cursor: not-allowed;
    color: var(--secondary-accent);
  }
  
  @media screen and (max-width: 600px) {
    #form-submit {
      width: 100%;
    }
  }

@keyframes flash {
    0%, 100% {
        opacity: 0.75;
    }
    50% {
        opacity: 1.0;
    }
}

#contact-link {
    text-decoration: underline;
    color: white;
    transition: color 0.3s ease;
}

#contact-link:hover {
    color: rgb(80, 184, 253);
}

#migration-banner {
    display: none;
    position: fixed;
    top: -120px; /* Start off-screen */
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    max-width: 600px;
    z-index: 1000;
    transition: top 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    background-color: rgba(255, 99, 71, 0.8);
    color: var(--primary-accent);
    padding: 15px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    line-height: 1.5;
    font-size: 16px;
    word-break: keep-all;
    animation: flash 2s infinite ease-in-out;
}

.icon {
    font-size: 1.8rem;
    margin-right: 10px;
}

.banner-text {
    flex: 1;
}

#migration-banner a {
    color: var(--primary-accent);
    text-decoration: underline;
    margin: 0 5px;
    white-space: nowrap;
    vertical-align: middle;
    transition: color 0.2s;
}

#migration-banner a:hover {
    color: rgba(109, 212, 247, 0.8);
}

#migration-banner.show {
    display: flex;
    top: 20px; /* Slide down */
}

.close-button {
    cursor: pointer;
    font-size: 24px;
    padding: 5px;
    background: transparent;
    border: none;
    color: var(--primary-accent);
    transition: transform 0.2s, opacity 0.2s;
    line-height: 1;
}

.close-button:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

#music-box {
    position: fixed;
    bottom: 0;
    left: auto;
    right: 0;
    width: auto;
    background-color: #1a1a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 10;
  }
  
  #music-info {
    font-size: 16px;
    color: white;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    text-align: left;
  }
  
  #music,
  #music-skip {
    width: 40px;
    height: 40px;
    background-size: contain;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    transition: transform .2s ease-in-out;
  }
  
  #music {
    background: url("assets/music/svg/play.svg") no-repeat center center;
    margin-left: 0;
  }
  
  #music.paused {
    background: url("assets/music/svg/pause.svg") no-repeat center center;
  }
  
  #music-skip {
    background: url("assets/music/svg/skip.svg") no-repeat center center;
    display: none;
  }

  #music:hover,#music-skip:hover {
    transform: scale(1.2);
  }
  
  #music-cover {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
    display: none;
  }
  
  @media (max-width: 600px) {
    #music-box {
      width: 100%;
      margin: 0;
      border-radius: 0;
      left: 0;
      right: 0;
    }
  
    #music-info {
      font-size: 14px;
    }
  
    #music,
    #music-skip {
      width: 30px;
      height: 30px;
      margin-left: 5px;
    }
  }

  .arrow {
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out, stroke 0.2s ease-in-out;
    opacity: 1;
}

.arrow.left { left: 10px; top: 50%; transform: translateY(-50%); }
.arrow.right { right: 10px; top: 50%; transform: translateY(-50%); }
.arrow.up { top: 10px; left: 50%; transform: translateX(-50%); }
.arrow.down { bottom: 10px; left: 50%; transform: translateX(-50%); }

.arrow svg {
    width: 30px;
    height: 30px;
}

.arrow svg path {
    stroke: white;
    transition: stroke 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.arrow:hover svg path {
    stroke: #f0f0f0;
    transform: scale(1.2);
}

.hidden {
    opacity: 0;
    pointer-events: none;
}




#github-repo-info {
    z-index: 800;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #1c1e1f; /* #24292e */
    color: #fff;
    padding: 10px 15px;
    margin-left: 5vmin;
    border-radius: 8px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0.97;
  }
  
  #github-repo-info:hover {
    transform: translateY(-5px);
  }
  
  .repo-link {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .fork-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .repo-name {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
  }
  
  .repo-name:hover {
    color: #58a6ff;
  }
  
  .commit-message {
    font-size: 0.9em;
    color: #bbb;
    transition: color 0.3s ease;
  }
  
  .commit-message:hover {
    color: #58a6ff;
  }

  .commit-time {
    font-size: 0.85em;
    color: #888;
    margin-top: 3px;
    transition: color 0.3s ease;
}

    .commit-time:hover {
        color: #58a6ff;
    }


  #blog-hover {
    text-decoration: underline dashed;
    text-decoration-thickness: 2px;
    text-underline-offset: 12px;
    color: inherit;
    transition: color 0.2s ease-in-out;
  }
  
  #blog-hover:hover {
    color: rgb(115, 186, 210);
  }